.form {
  text-align: left;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.18);
  width: 350px;
  padding: 33px 48px 0;
  border-radius: 8px;
  margin-bottom: 20px;

  position: absolute;
  right: 118px;

  &-container {
    color: $color-text-light-black;
    margin-bottom: 35px;

    & h3 {
      font-size: 26px;
      margin: 0 0 8px;
    }
    & .input {
      & input {
        color: $color-text-light-black;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .38);
        outline: none;
        font-family: inherit;
        font-size: 20px;
        width: 100%;
      }
    }
    & .button {
      @include button(77px, 35px, $color-orange-hackspace)
    }
  }
}