.badgeDetails {
  margin-top: 25px;

  & .options {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;

    & .edit {
      & .button {
        @include button(130px, 40px, $color-button-success);
        margin: 0;
      }
    }
    & .delete {
      & .button {
        @include button(130px, 40px, $color-button-warning);
        margin: 0;
      }
    }
  }
}